<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.upc.oa.mapper.VcommentMapper">
    <resultMap id="VcommentMap" type="com.upc.oa.po.Vcomment">
        <id column="vcid" property="vcid"></id>
        <result property="vctime" column="vctime"></result>
        <result property="vcpraise" column="vcpraise"></result>
        <result property="vctext" column="vctext"></result>
        <result property="vcparentId" column="vcparentId"></result>
        <result property="vcwriterId" column="vcwriterId"></result>
        <result property="vcVideoId" column="vcVideoId"></result>
        <association property="user" javaType="com.upc.oa.po.User">
            <id property="uid" column="uid"></id>
            <result property="userName" column="userName"></result>
        </association>
        <association property="video" javaType="com.upc.oa.po.Video">
            <id property="vid" column="vid"></id>
            <result property="vtitle" column="vtitle"></result>
        </association>
    </resultMap>
    <delete id="deleteVcomment" parameterType="com.upc.oa.po.Vcomment">
        delete from vcomment
        where vcid=#{vcid}
    </delete>
    <select id="findAllVcomments" resultMap="VcommentMap" parameterType="com.upc.oa.po.Vcomment">
        select vc.*,u.userName,v.vtitle
        from vcomment vc,user u,video v
        where vc.vcwriterId=u.uid
        and vc.vcVideoId=v.vid
        <if test ="vctext!= null and vctext != ''">
            and vctext like concat('%',#{vctext},'%')
        </if>
    </select>
</mapper>